body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: sans-serif;
}

form{
    display: grid;
    width: 350px;
    padding: 40px 50px;
    border-radius: 20px;
    gap: 20px;   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }

 form input{
    padding: 7px;
    border: 2px solid rgba(175, 175, 175, 0.753);
    border-radius: 5px;
 }


 button{
    width: 100px;
    margin: auto;
    padding: 10px 20px;
    background-color: rgb(49, 49, 49);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
 }

 form p,a{
    text-align: center;
    text-decoration: none;
 }